@model Web.Models.ChangePasswordModel
@{
	ViewBag.Title = "Change Password";
}
<section>
	<h2>@ViewBag.Title</h2>

	<p>
		Use the form below to change your password. 
	</p>
	<p>
		New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
	</p>

	@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

	@using (Html.BeginForm())
	{
		<fieldset>
			<legend>Account Information</legend>
			<p>
				@Html.LabelFor(m => m.OldPassword)
				@Html.PasswordFor(m => m.OldPassword)
				@Html.ValidationMessageFor(m => m.OldPassword)
			</p>
			<p>
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword)
				@Html.ValidationMessageFor(m => m.NewPassword)
			</p>
			<p>
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword)
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</p>
			<p>
				<button type="submit" class="warning">Change password</button>
			</p>
		</fieldset>
	}

</section>